.box{
    margin:60px auto;
    padding-left: 10px;
    padding-top: 10px;
    width:480px;
    height:480px;
    background-color: red;
}
#app img{
    float: left;
    width: 150px;
    margin-right:10px;
    margin-bottom:10px;
    border-radius: 5px;
}
#app img:nth-child(5):hover{
    opacity: .8;
    cursor: pointer;
}
/*#app img:nth-child(1){*/
    /*opacity: .8;*/
/*}*/